<html>
    <head>
        <title>{{ article.title }}</title>
    </head>

    <body>

        {% include "nav.html" %}

        <!-- 正文 -->
        {% block content %}{% endblock %}

        <hr />
        <!-- 边栏 -->
        {% block sidebar %}{% endblock %}

        <hr />
        <!-- 评论区 -->
        {% block comment %}{% endblock %}

        <hr />
        <!-- 推荐区 -->
        <div class="rcmd">推荐区: ...</div>

        <hr />
        <!-- 底栏 -->
        <div class="footer">底栏: ...</div>
    </body>
</html>
